@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Oxygen:wght@400;700&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(13, 15, 15);
    font-family: Oxygen, sans-serif;
}

.text-orange{
    color: orange;
}
.text-white{
    color: white;
}
.text-green{
    color: green;
}

.text-blue{
    color: rgb(76, 76, 196);
}
.top-bar{
    background-color: rgb(26, 32, 32);
    position: fixed;
    top: 0;
    width: 100%;
}
.top-bar__container{
    width: 80%;
    margin: 0 auto;
}  
.min-contacts{
    display: flex;
    justify-content: right;
    padding: 10px;

} 
.min-contacts span i{
    font-size: 17px;
    margin: 5px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: baseline;
}
.dev-emoji{
    size: 100px;
}
nav ul{
    display: flex;
    flex-direction: row;
}
li{
    list-style: none;
    padding: 15px;
    margin: 2px;
    transition: all 0.4s ease-in-out;
}
li:hover{
    background-color: rgb(22, 29, 29);

}
li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.dev-id{
    font-family: 'Cabin Sketch',sans-serif;
    font-size: 24px;

}