@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Oxygen:wght@400;700&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(13, 15, 15);
  font-family: Oxygen, sans-serif;
  color: white;
}
a {
  text-decoration: none;
}
.section-padding {
  width: 80%;
  margin: 0 auto;
}

.text-orange {
  color: orange;
}
.text-white {
  color: white;
}
.text-green {
  color: green;
}

.text-blue {
  color: rgb(76, 76, 196);
}
.top-bar {
  background-color: rgb(26, 32, 32);
  top: 0;
  width: 100%;
}

.min-contacts {
  display: flex;
  justify-content: right;
  padding: 10px;
}
.min-contacts span i {
  font-size: 17px;
  margin: 5px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.dev-emoji {
  size: 100px;
}
nav ul.top-bar__menu {
  display: flex;
  flex-direction: row;
}
.top-bar__menu li {
  list-style: none;
  padding: 15px;
  margin: 2px;
  transition: all 0.4s ease-in-out;
}
.top-bar__menu li:hover {
  background-color: rgb(22, 29, 29);
}
.top-bar__menu li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.dev-id {
  font-family: 'Cabin Sketch', sans-serif;
  font-size: 24px;
}
.section-main {
  display: flex;
  flex-direction: row;
}
.sidebar-content,
.main-content {
  height: 80vh;
  margin: 0 auto;
  position: relative;
}
.sidebar-content {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.main-content {
  width: 100%;
  padding: 10px;
  overflow: hidden;
}
.side-bar__social-media-links {
  width: 100%;
  height: 90%;
  background-color: rgb(26, 32, 32);
  border-radius: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  position: relative;
}
.side-bar__social-media-links h4 {
  text-align: center;
}
.side-bar__timeline-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.side-bar__timeline-date li {
  list-style-type: none;
  width: 80%;
  margin-top: 10px;
  position: relative;
  background-color: rgba(51, 51, 51, 0.8);
  border-radius: 5px;
}
.side-bar__timeline-date li::before {
  content: '';
  top: 10px;
  height: 17px;
  position: absolute;
  background-color: orange;
  left: -1px;
  width: 5px;
  border-radius: 5px;
}
.side-bar__timeline-date li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  text-align: center;
}
footer {
  border: 1px solid red;
}
.side-bar__timeline-social-container {
  bottom: 20px;
  position: absolute;
  width: 100%;
}
.side-bar__timeline-social-media {
  margin-top: -10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  bottom: -10px;
}
.main-content::after {
  /* using style CSS custom property */
  font: var(--fa-font-solid);
  content: '\f121';
  font-size: 60px;
  color: rgb(24, 23, 23);
  bottom: 50px;
  right: 130px;
  position: absolute;
  z-index: -2;
}
.main-content::before {
  /* using style CSS custom property */
  font: var(--fa-font-solid);
  content: '\f126';
  font-size: 200px;
  transform: rotate(20deg);
  color: rgb(24, 23, 23);
  bottom: 10px;
  left: 40px;
  position: absolute;
  z-index: -1;
}
.main-content__overlap {
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.27);
  border-radius: 1px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(0, 0, 0, 0.08);
}
h2,
h5 {
  padding: 0;
  margin: 0;
}
.dev_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  font-size: 28px;
}
